:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color:#629efe;
}

p {
  font-size: larger;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgb(217, 90, 6);
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  max-height: 10vh;
  min-height: 25px;
}

.contact-us-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flyer-img {
  width: 80%;
  max-width: 100vh;
  height: 80%;
}

.location-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.location-img {
  height: 80%;
  width: 80%;
}

.logo-img {
  height: 20%;
  width: 20%;
}

.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-right: 10px;
  font-size: larger;
  border: 2px solid black;
  background-color: rgb(111, 46, 3);
}

.nav-section {
  display: flex;
  flex-grow: 1;
  align-self: center;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .logo-img {
    height: 60%;
    width: 60%;
  }
}